<a href="https://colab.research.google.com/github/Adamsongy/adam_test/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/tibaml1027/raw/main/train.csv"
urlretrieve(url, "train.csv")
train = pd.read_csv("train.csv", encoding="utf-8")
url = "https://github.com/Elwing-Chou/tibaml1027/raw/main/test.csv"
urlretrieve(url, "test.csv")
test = pd.read_csv("test.csv", encoding="utf-8")

In [ ]:
# concat
datas = pd.concat([train, test], axis=0, ignore_index=True)
datas = datas.drop(["PassengerId", "Survived"], axis=1)
datas

In [ ]:
# d1 = pd.DataFrame([
#          [1, 2],
#          [3, 4]
# ])
# d1 = pd.DataFrame([
#          [1, 2],
#          [3, 4]
# ])
# pd.concat([d1,d2],axis=0)

In [5]:
# 篩選操作 Series/DataFrame[跟你的資料筆數依樣多的True/False]
s = datas.isna().sum()
s[s > 0].sort_values(ascending=False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [6]:
# d1 = pd.DataFrame([
#     [1, 2],
#     [3, 4]
# ])
# d1[[False, True]]

   0  1
1  3  4

In [7]:
#idxmax是用來找Embarked裡面最常出現的種類(s)是甚麼,設定到msot
most = datas["Embarked"].value_counts().idxmax()
#再把most(S)補到Embarked的空缺裡面
datas["Embarked"] = datas["Embarked"].fillna(most)
# 再看一下缺多少
s = datas.isna().sum()
s[s > 0].sort_values(ascending=False)

Cabin    1014
Age       263
Fare        1
dtype: int64

In [8]:
#正規表示式
import re
def name(s):
    # .+任意一次以上 , \s*空白零次以上 (.+) \. .+
    # 比.好的 [a-zA-Z\s\(\)']
    pattern = r".+,\s*(.+)\..+"
    # s = "Braund, Mr. Owen Harris"
    pat = re.compile(pattern)
    return pat.match(s).group(1)
datas["Name"].apply(name)

0           Mr
1          Mrs
2         Miss
3          Mrs
4           Mr
         ...
1304        Mr
1305      Dona
1306        Mr
1307        Mr
1308    Master
Name: Name, Length: 1309, dtype: object

In [9]:
def name(s):
    return s.split(",")[-1].split(".")[0].strip()
datas["Name"] = datas["Name"].apply(name)