<a href="https://colab.research.google.com/github/Adamsongy/adam_test/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/tibaml1027/raw/main/train.csv"
urlretrieve(url, "train.csv")
train = pd.read_csv("train.csv", encoding="utf-8")
url = "https://github.com/Elwing-Chou/tibaml1027/raw/main/test.csv"
urlretrieve(url, "test.csv")
test = pd.read_csv("test.csv", encoding="utf-8")

In [35]:
# concat
datas = pd.concat([train, test], axis=0, ignore_index=True)
datas = datas.drop(["PassengerId", "Survived"], axis=1)
datas

      Pclass                                               Name  ... Cabin  Embarked
0          3                            Braund, Mr. Owen Harris  ...   NaN         S
1          1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2          3                             Heikkinen, Miss. Laina  ...   NaN         S
3          1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4          3                           Allen, Mr. William Henry  ...   NaN         S
...      ...                                                ...  ...   ...       ...
1304       3                                 Spector, Mr. Woolf  ...   NaN         S
1305       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
1306       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
1307       3                                Ware, Mr. Frederick  ...   NaN         S
1308       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [36]:
# d1 = pd.DataFrame([
#          [1, 2],
#          [3, 4]
# ])
# d1 = pd.DataFrame([
#          [1, 2],
#          [3, 4]
# ])
# pd.concat([d1,d2],axis=0)

In [37]:
# 篩選操作 Series/DataFrame[跟你的資料筆數依樣多的True/False]
s = datas.isna().sum()
s[s > 0].sort_values(ascending=False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [38]:
# d1 = pd.DataFrame([
#     [1, 2],
#     [3, 4]
# ])
# d1[[False, True]]

In [39]:
#idxmax是用來找Embarked裡面最常出現的種類(s)是甚麼,設定到msot
most = datas["Embarked"].value_counts().idxmax()
#再把most(S)補到Embarked的空缺裡面
datas["Embarked"] = datas["Embarked"].fillna(most)
# 再看一下缺多少
s = datas.isna().sum()
s[s > 0].sort_values(ascending=False)

Cabin    1014
Age       263
Fare        1
dtype: int64

In [40]:
#正規表示式
import re
def name(s):
    # .+任意一次以上 , \s*空白零次以上 (.+) \. .+
    # 比.好的 [a-zA-Z\s\(\)']
    pattern = r".+,\s*(.+)\..+"
    # s = "Braund, Mr. Owen Harris"
    pat = re.compile(pattern)
    return pat.match(s).group(1)
datas["Name"].apply(name)

0           Mr
1          Mrs
2         Miss
3          Mrs
4           Mr
         ...
1304        Mr
1305      Dona
1306        Mr
1307        Mr
1308    Master
Name: Name, Length: 1309, dtype: object

In [41]:
def name(s):
    return s.split(",")[-1].split(".")[0].strip()
datas["Name"] = datas["Name"].apply(name)

In [42]:
def cabin(c):
    if pd.isna(c):
        return c
    else:
        return c[0]
datas["Cabin"] = datas["Cabin"].apply(cabin)

In [43]:
dic = datas["Ticket"].value_counts()
datas["Ticket"] = datas["Ticket"].apply(lambda t:dic[t])

In [44]:
datas["Cabin"].value_counts()

C    94
B    65
D    46
E    41
A    22
F    21
G     5
T     1
Name: Cabin, dtype: int64

In [45]:
med = datas.median().drop("Pclass")
datas = datas.fillna(med)
# 再看一下缺多少
s = datas.isna().sum()
s[s > 0].sort_values(ascending=False)

Cabin    1014
dtype: int64

In [46]:
c = datas["Name"].value_counts()
c = c[c > 50]
def name2(n):
    if n in c:
        return n
    else:
        return None
datas["Name"] = datas["Name"].apply(name2)

In [47]:
datas = pd.get_dummies(datas)
datas = pd.get_dummies(datas, columns=["Pclass"])
datas

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [48]:
datas["Family"] = datas["SibSp"] + datas["Parch"]
datas

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [49]:

# .iloc -> [1st row, 2nd row, 3rd....]
x = datas.iloc[:len(train)]
y = train["Survived"]
x_predict = datas.iloc[len(train):]

In [50]:
x_predict

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
891   34.5      0      0       1  ...         0         0         1       0
892   47.0      1      0       1  ...         0         0         1       1
893   62.0      0      0       1  ...         0         1         0       0
894   27.0      0      0       1  ...         0         0         1       0
895   22.0      1      1       2  ...         0         0         1       2
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[418 rows x 26 columns]